@mixin borderRadius($topLeft, $topRight, $bottomRight, $bottomLeft) {
    -webkit-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
    -moz-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
    border-radius: $topLeft $topRight $bottomRight $bottomLeft;
}

@mixin transition($interval, $property) {
    -webkit-transition: $interval $property;
    -moz-transition: $interval $property;
    transition: $interval $property;
}