// Fonts
@import url('https://fonts.googleapis.com/css?family=Exo+2');
$exo: 'Exo 2', sans-serif;


// Colors
$black: #000;
$white: #fff;
$lightBlack: #1b1d1f;
$grey: #272a2c;
$darkGrey: #202224;
$lightGrey: #7b7a6d;
$brown: #8e4423;
$lightBrown: #b0592e;
$errorRed: #F44336;
$successGreen: #4CAF50;
$banana: #e6e3bb;
$transparentBlack: rgba(0,0,0,.15);


// Widths
$widthSM: 567px;
$widthMD: 768px;
$widthLG: 992px;
$widthXL: 1200px;