body {
    font-size: 13px;
    background: $brown url('../img/main/body-back.jpg');
}

.wrapper {
    padding: 0;
}

.dwn-rounded {
    @include borderRadius(0, 0, 8px, 8px);
}

.up-rounded {
    @include borderRadius(8px, 8px, 0, 0);
}

.grey-gradient {
    background: linear-gradient($grey, $darkGrey); 
}

.top-border {
    &-14 {
        border-top: 14px solid $brown;
    }

    &-10 {
        border-top: 10px solid $brown;
    }
    
}

.bg-banana {
    background-color: $banana;
}

.padded-left-mobile {
    padding-left: 1.5rem;
}

.border-bottom-grey {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        bottom: 1rem;
        left: 1.3rem;
        right: 1.3rem;
        height: 1px;
        background-color: $grey;
    }
}

@media screen and (min-width: 768px) {
    .padded-left-mobile {
        padding-left: 0;
    }
}