body {
    font-size: 13px;
    background: $brown url('../img/main/body-back.jpg');
}

.dwn-rounded {
    @include borderRadius(0, 0, 8px, 8px);
}

.up-rounded {
    @include borderRadius(8px, 8px, 0, 0);
}

.grey-gradient {
    background: linear-gradient($grey, $darkGrey); 
}

.top-border-14 {
    border-top: 14px solid $brown;
}

.bg-banana {
    background-color: $banana;
}