.article {
    &-block {
        width: 100%;
        max-width: $widthMD;
    }

    &-header {
        h2 {
            color: $brown;
        }

        h3 {
            color: $lightGrey;
            font-style: italic;
        }
    }

    &-content {
        color: $paleGrey;
    }
}

.content {
    &-none {
        h3 {
            color: $banana;
        }
    }
}