.article {

    &-block {
        width: 100%;
        max-width: $widthMD;
    }

    &-header {

        h2 {
            color: $brown;
        }

        h3 {
            color: $lightGrey;
            font-style: italic;
        }

    }

    &-content {
        color: $lightGrey;
    }
}

.content {

    &-none {

        h3 {
            color: $banana;
        }

    }

}

.entry {

    &-header {

        h4 {
            color: $lightGrey;
            font-size: 1rem;
            line-height: 1rem;
            font-style: italic;
        }
    }

    &-title {
        color: $white;
        font-weight: 700;
        color: $brown;
        line-height: 140%;
    }

    &-thumbnail {
        width: 100%;
        border: .384rem solid $brown;
        text-align: center;

        img {
            max-width: 100%;
            height: auto;
        }

    }

    &-content {
        color: $lightGrey;
    }

    &-meta {

        h6 {
            font-size: 1rem;
            color: $brown;
        }

        p {
            color: $lightGrey;

            span {
                color: $white;
            }

        }

    }

    &-footer {
        position: relative;
        color: $white;

        .fa {
            position: absolute;
            top: 1rem;
            left: 0;
            font-size: 1.4rem;
            color: $lightGrey;
        }

        .post-categories {
            list-style-type: none;

            li {
                display: inline-block;

                a {
                    color: $brown;
                }
                
            }

        }

        .tag-cloud {
            padding: 0;
            margin: 0;

            .tag {
                position: relative;
                display: inline-block;
                background: linear-gradient($lightBrown, $brown);
                padding: .4rem 1rem;
                margin: .153rem .3rem .153rem 0;
                @include borderRadiusUni(.3rem);

                a {
                    color: $banana;
                }

            }

        }

        .entry {

            &-meta {
                position: relative;
                width: 100%;
                text-align: left;
                border-bottom: .07rem solid $lightGrey;

                h6, p {
                    display: inline-block;
                }

                p {
                    float: right;
                }

            }

        }

    }

}

@media screen and (min-width: $widthMD) {

    .cheers {

        &-page-content {

            .entry {

                &-title {
                    font-size: 2rem;
                }
    
                &-content {
                    padding: 2rem;
                }

            }

        }

        &-post-content {
            padding: 0;
        }

        &-blog-post,
        &-archive-content {

            a {

                &:hover {
                    text-decoration: none;

                    .entry {

                        &-title {
                            @include transition(.3s, color);
                            color: $white;
                        }
            
                        &-content {
                            @include transition(.3s, color);
                            color: $white;
                        }

                    }

                }

            }

        }

    }

    .entry {

        &-footer {

            .tag-cloud {

                .tag {

                    a {

                        &:hover {
                            text-decoration: none;
                            color: $white;
                        }

                    }

                }

            }

        }

    }

}

@media screen and (min-width: $widthLG) {

    .cheers {

        &-page-content {

            .entry {

                &-title {
                    font-size: 3.6em;
                }
            }

        }

    }

}