.btn {
    &:focus {
        outline: none;
        box-shadow: 0 0 0 $black;
    }
}

.btn-dark {
    color: $white;
    background: linear-gradient($grey, $darkGrey);
    @include borderRadiusUni(.3rem);
    border: 1px solid $lightGrey;
}

.btn-brown {
    color: $white;
    background: linear-gradient($lightBrown, $brown);
    @include borderRadiusUni(.3rem);
    border: .07rem solid $lightBrown;
    padding: .2rem 1rem;

    &:hover {
        color: $banana;
    }
}

.append-border-white {
    border: .07rem solid $paleGrey;
    border-left: none;
    @include borderRadius(0, .3rem, .3rem, 0);
}

.input-group,
.form-group {
    label {
        color: $paleGrey;
    }

    input,
    textarea {
        background-color: transparent;
        color: $white;
        border: .07rem solid $lightGrey;
        &:focus {
            outline: none;
            border: .07rem solid $banana;
            box-shadow: 0 0 .07rem $banana;
            background-color: transparent;
        }
    }
}

#searchsubmit,
#submit {
    background: linear-gradient($lightBrown, $brown);
    border: .07rem solid $brown;
    &:focus {
        outline: 0;
        box-shadow: 0 0 .07rem $banana;
    }
}

.form-error {
    color: $errorRed;
}

.has-success {
    input,
    .textarea {
        border-color: $successGreen;
    }
}