.archive-pagination {
    padding: 30px 10px 0 10px;
}

.pagination {
    .page-item {
        margin: 2px;
        .page-link {
            border-radius: 50%;
            background-color: $banana;
            border-color: transparent;
            font-weight: 700;
            color: $brown;
            &.current {
                color: $banana;
                background-color: $brown;
            }
        }
        .next,
        .prev {
            padding: .4rem .75rem .6rem .75rem;
        }
    }
}