.cheers {
    &-page-content {
        .entry {
            &-header {
                padding: 10px;
            }

            &-title {
                color: #fff;
                font-family: $exo;
                font-size: 1.693em;
                text-align: center;
                font-style: italic;
            }

            &-content {
                padding: 10px;
                color: #7b7a6d;
                font-family: $exo;
            }
        }
    }

    &-blog-post,
    &-archive-content {
        padding: 10px;
        a {
            &:hover {
                text-decoration: none;
                .entry {
                    &-title {
                        color: #fff;
                    }
        
                    &-content {
                        color: #fff;
                    }
                }
            }
        }
        
    }

    &-post-content {
        padding: 10px 0;

        .entry {
            &-header {
                padding: 40px 0;
            }

            &-title {
                color: $brown;
                font-family: $exo;
                font-size: 2rem;
            }
        }
    }
}

.entry {
    &-header-blog,
    &-header-single,
    &-header-archive
     {

        h4 {
            color: $paleGrey;
            font-size: 1rem;
            line-height: 1rem;
            font-style: italic;
        }
    }

    &-title-single,
    &-title {
        color: #fff;
        font-family: $exo;
        font-weight: 700;
        color: $brown;
        line-height: 140%;
    }

    &-thumbnail {
        width: 100%;
        border: 5px solid $brown;
        text-align: center;
    }

    &-content {
        color: $paleGrey;
    }

    &-meta {

        h6 {
            font-size: 1rem;
            color: $brown;
        }

        p {
            color: $paleGrey;

            span {
                color: #fff;
            }
        }
    }
}

.page {
    &-header {
        padding: 10px;
    }

    &-title {
        color: #fff;
        font-family: $exo;
        font-size: 1.693em;
        text-align: center;
        font-style: italic;
    }
}

@media screen and (min-width: 768px) {
    .cheers {
        &-page-content {
            .entry {
                &-header {
                    padding: 20px 10px;
                }
    
                &-title {
                    font-size: 2.693em;
                }
    
                &-content {
                    padding: 40px;
                }
            }
        }

        &-post-content {
            padding: 20px 10px;
        }
    }

    .page {
        &-header {
            padding: 20px 10px;
        }

        &-title {
            font-size: 2.693em;
        }
    }
}

@media screen and (min-width: 992px) {
    .cheers {
        &-page-content {
            .entry {
                &-header {
                    padding: 30px 10px;
                }
    
                &-title {
                    font-size: 3.693em;
                }
    
                &-content {
                    padding: 60px 100px;
                }
            }
        }

        &-post-content {
            padding: 40px 25px;
        }
    }

    .page {
        &-header {
            padding: 30px 10px;
        }

        &-title {
            font-size: 3.693em;
        }
    }



    .entry {
    
        &-header-blog {
            position: relative;
            padding-right: 14rem;
        }
    
        &-meta {
            position: absolute;
            top: 0;
            right: 0;
            width: 10rem;
            text-align: right;
        }
    }
}