.cheers {
    &-page-content {
        .entry {
            &-header {
                padding: 10px;
            }

            &-title {
                color: $white;
                font-size: 1.693em;
                text-align: center;
                font-style: italic;
            }

            &-content {
                padding: 10px;
                color: $paleGrey;
            }
        }
    }

    &-blog-post,
    &-archive-content {
        padding: 10px;
        a {
            &:hover {
                text-decoration: none;
                .entry {
                    &-title {
                        color: $white;
                    }
        
                    &-content {
                        color: $white;
                    }
                }
            }
        }
        
    }

    &-post-content {
        padding: 10px 0;

        .entry {
            &-header {
                padding: 40px 0;
            }

            &-title {
                color: $brown;
                font-size: 2rem;
            }
        }
    }
}

.entry {
    &-header-blog,
    &-header-single,
    &-header-archive
     {

        h4 {
            color: $paleGrey;
            font-size: 1rem;
            line-height: 1rem;
            font-style: italic;
        }
    }

    &-title-single,
    &-title {
        color: $white;
        font-weight: 700;
        color: $brown;
        line-height: 140%;
    }

    &-thumbnail {
        width: 100%;
        border: 5px solid $brown;
        text-align: center;
    }

    &-content {
        color: $paleGrey;
    }

    &-meta {

        h6 {
            font-size: 1rem;
            color: $brown;
        }

        p {
            color: $paleGrey;

            span {
                color: $white;
            }
        }
    }

    &-footer {
        position: relative;
        border-top: 1px solid $paleGrey;
        color: $white;
        .fa {
            position: absolute;
            top: 1rem;
            left: 0;
            font-size: 1.4rem;
            color: $paleGrey;
        }

        .post-categories {
            list-style-type: none;
            li {
                display: inline-block;

                a {
                    color: $brown;
                }
            }
        }

        .tag-cloud {
            padding: 0;
            margin: 0;
            .tag {
                position: relative;
                display: inline-block;
                background: linear-gradient($lightBrown, $brown);
                padding: .4rem 1rem;
                margin: 2px 4px 2px 0;
                @include borderRadius(4px, 4px, 4px, 4px);
                a {
                    color: $banana;
                    &:hover {
                        text-decoration: none;
                        color: $white;
                    }
                }
            }
        }
    }
}

.page {
    &-header {
        padding: 10px;
    }

    &-title {
        color: $white;
        font-size: 1.693em;
        text-align: center;
        font-style: italic;
    }
}

#map {
    height: 400px;
}

@media screen and (min-width: $widthMD) {
    .cheers {
        &-page-content {
            .entry {
                &-header {
                    padding: 20px 10px;
                }
    
                &-title {
                    font-size: 2.693em;
                }
    
                &-content {
                    padding: 40px;
                }
            }
        }

        &-post-content {
            padding: 20px 10px;
        }
    }

    .page {
        &-header {
            padding: 20px 10px;
        }

        &-title {
            font-size: 2.693em;
        }
    }
}

@media screen and (min-width: $widthLG) {
    .cheers {
        &-page-content {
            .entry {
                &-header {
                    padding: 30px 10px;
                }
    
                &-title {
                    font-size: 3.693em;
                }
    
                &-content {
                    padding: 60px 100px;
                }
            }
        }

        &-post-content {
            padding: 40px 25px;
        }
    }

    .page {
        &-header {
            padding: 30px 10px;
        }

        &-title {
            font-size: 3.693em;
        }
    }



    .entry {
    
        &-header-blog {
            position: relative;
            padding-right: 14rem;
        }
    
        &-meta {
            position: absolute;
            top: 0;
            right: 0;
            width: 10rem;
            text-align: right;
        }
    }
}