.product {
    &-filter {
        padding: 1.538rem .0769rem;
        .nav {
            &-item {
                &:first-of-type {
                    @include borderRadius(.3rem, 0, 0, .3rem);
                    border-left: .076rem solid $darkGrey;
                }
                border-top: .076rem solid $darkGrey;
                border-bottom: .076rem solid $darkGrey;

                &:last-of-type {
                    @include borderRadius(.0, 3rem, .3rem, 0);
                    border-right: .076rem solid $darkGrey;
                }
            }

            &-link {
                color: $paleGrey;
                &:hover {
                    color: $white;
                }
            }

            .active {
                color: $white;
            }
        }
    }

    &-stats {
        list-style-type: none;
        color: $paleGrey;
        li {
            span {
                color: $brown;
            }
        }
    }
}