.search {

    &-entry {

        &-meta {
            @include transition(.3s, color);
            color: $lightGrey;
            border-bottom: .07rem solid $lightGrey;
        }

    }

}

@media screen and (min-width: $widthMD) {

    a {

        &:hover {

            .search {

                &-entry {

                    &-meta {
                        color: $banana;
                    }

                }

            }

        }

    }
    
}