.bordered-image {
    border: .3rem solid $brown;
    float: right;
    margin-left: 1rem;
}

.bordered-boxes {
    list-style-type: none;
    text-align: center;

    &-item {
        float: left;
        width: 5.230rem;
        height: 5.230rem;
        border: .384rem solid $brown;
        margin: .3rem;
        background-color: $grey;
    }
}

.block-heading {
    font-family: $exo;
    color: $brown;
    font-style: italic;
    clear: right;
}

blockquote {
    color: $banana;
    cite {
        color: $brown;
        span {
            color: $lightGrey;
        }
    }
}

@media screen and (min-width: $widthMD) {
    .border {
        &-right {
            &-brown {
                position: relative;
                border-right: .076rem solid $brown;
    
                &:before,
                &:after {
                    position: absolute;
                    content: '';
                    top: 50%;
                    border-radius: 1rem;
                }
    
                &:before {
                    margin-top: -.5rem;
                    right: -.5rem; 
                    width: 1rem;
                    height: 1rem;
                    border: .15rem solid $brown;
                    background-color: $grey;
                }
    
                &:after {
                    margin-top: -.25rem;
                    right: -.25rem; 
                    width: .5rem;
                    height: .5rem;
                    background-color: $brown;
                }
            }
        }
    }
}